.azeret-mono-normal {
    font-family: "Azeret Mono", monospace;
    font-optical-sizing: auto;
    font-style: normal;
}

/* nav styles */
.navbar {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}

.navbar h3 {
    margin-left: 150px;
    font-weight: 300px;
    font-size: 28px;
}

.btn-all {
    color: rgb(13, 19, 33);
    font-size: 20px;
    background: none;
    font-weight: 600;
    padding: 17px 24px;
    box-sizing: border-box;
    border: 1px solid rgb(13, 19, 33);
    border-radius: 8px;
    opacity: 0.8;

}

button .nav-down {
    margin-right: 150px;
}

/* first part */
.bg-part {

    background: url(../assets/Hero-bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

}

.first-part {

    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 26px 221px 45px 221px;
}

.cnt-btn {
    background-color: black;
    color: white;
    margin: 0 377px 45px 377px;
}

.f-img {
    margin-bottom: 32px;
}

.f-p1 {
    color: rgb(13, 19, 33);
    font-size: 48px;
    font-weight: 800;
    text-align: center;
    margin-bottom: 24px;
}

.f-p2 {
    color: rgb(13, 19, 33);

    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0%;
    text-align: center;
    opacity: 0.7;
    margin-left: 73px;
    margin-right: 73px;
    margin-bottom: 32px;
}

/* second part */
.second-part {
    margin: 74px 152px 90px 148px;
    padding: 80px 97px 80px 97px;
    text-align: center;
    align-items: center;
    border-radius: 16px;
    background: rgba(13, 19, 33, 0.02);
}

.p1-h {
    color: rgb(13, 19, 33);

    font-size: 32px;
    font-weight: 800;
    line-height: 37px;
    letter-spacing: 0%;
    text-align: center;
    margin-bottom: 24px;
}

.p1-p {
    color: rgb(13, 19, 33);
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0%;
    text-align: center;
    opacity: 0.7;
    margin: 0 47px 48px 47px;
}

.s-p1 {

    border-radius: 16px;
    background: linear-gradient(90.00deg, rgb(255, 255, 255), rgba(255, 255, 255, 0) 100%);
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
}



.s-p2 {

    border-radius: 16px;
    background: linear-gradient(270.00deg, rgb(255, 255, 255), rgba(255, 255, 255, 0) 100%);
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
}

.details1 {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 48px;
    text-align: left;
}

.details2 {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 48px;
    text-align: left;
}

.p12 {
    margin: 10.5px 98.83px 32px 0;
}

.p1 {
    color: rgba(13, 19, 33, 0.7);

    font-size: 24px;
    font-weight: 700;
    line-height: 36px;
    letter-spacing: 0%;
    padding-right: 220px;
}

.p2 {
    color: rgb(13, 19, 33);
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0%;
    opacity: 0.7;
    padding-right: 109px;

}

/* third-part */
.third-part {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 0px;
    margin: 90px 296px 24px 294px;
}

.t-p1 h1 {
    color: rgb(13, 19, 33);
    font-size: 32px;
    font-weight: 800;
    line-height: 37px;
    letter-spacing: 0%;
    text-align: center;

}

.t-p1 p {
    color: rgb(13, 19, 33);
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0%;
    text-align: center;
    opacity: 0.7;
    margin-bottom: 48px;
}

.t-p2 {
    box-sizing: border-box;
    border: 1px solid rgba(13, 19, 33, 0.2);
    border-radius: 16px;
    margin: 0px 152px 0px 148px;
    padding: 32px;


}

.t-p2-inner {
    background-image: url('https://img.youtube.com/vi/DGHn2uOAVCE/maxresdefault.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 1076px;
    height: 550px;
    position: relative;
}

.play {
    position: absolute;
    width: 100%;
    height: 100%;
}

/* fourth part */
.fourth-part {
    margin: 150px 150px 0px 150px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.four-p1 {
    margin: 0px 247px 0px 247px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 0;
}

.four-p1 h2 {
    color: rgb(13, 19, 33);
    font-size: 32px;
    font-weight: 800;
    line-height: 37px;
    letter-spacing: 0%;
    text-align: center;
    margin-bottom: 24px;
}

.four-p1 p {
    color: rgb(13, 19, 33);
    opacity: 0.7;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0%;
    text-align: center;
    padding: 0 20px 0 20px;
    margin-bottom: 48px;
}

.four-p2 {
    padding: 0px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin-top: 48px;
    gap: 24px;
}

.four-p2 button {
    border: none;
    background-color: transparent;
}

.four-p2 .html {
    border-radius: 16px;
    background: rgba(255, 76, 30, 0.05);
    padding: 40px;
    align-items: flex-start;
    gap: 24;


}

.four-p2 .css {
    border-radius: 16px;
    background: rgba(255, 76, 30, 0.05);
    padding: 40px;
    align-items: flex-start;
    gap: 24;
}

.four-p2 .js {
    border-radius: 16px;
    background: rgba(255, 76, 30, 0.05);
    padding: 40px;
    align-items: flex-start;
    gap: 24;
}

/* fifth part */
.fifth-part {
    margin: 111px 150px 48px 150px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

}

.fifth-part button {
    border: none;
    background-color: transparent;
    font-weight: 800;
}

.fi-p1 h2 {
    color: rgb(13, 19, 33);
    font-size: 32px;
    font-weight: 800;
    line-height: 37px;
    letter-spacing: 0%;
    text-align: center;
    padding-top: 0;
}

.fi-p1 p {
    color: rgb(13, 19, 33);
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0%;
    text-align: center;
    margin: 24px 144px 48px 144px;
}

.fi-p2-re {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 24px;
    padding: 40px;
    box-sizing: border-box;
    border: 1px solid rgba(13, 19, 33, 0.15);
    border-radius: 16px;
    background: rgb(255, 255, 255);
}

.reactjs-inner h3 {
    color: rgb(13, 19, 33);
    font-size: 24px;
    font-weight: 800;
    line-height: 36px;
    letter-spacing: 0%;
    text-align: left;
    margin-bottom: 8px;
    padding: 0;
}

.reactjs-inner p {
    color: rgb(13, 19, 33);
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0%;
    text-align: left;
    opacity: 0.7;

}

.fi-p2-no {
    margin-top: 24px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 24px;
    padding: 40px;
    box-sizing: border-box;
    border: 1px solid rgba(13, 19, 33, 0.15);
    border-radius: 16px;
    background: rgb(255, 255, 255);
}

.nodejs-inner h3 {
    color: rgb(13, 19, 33);
    font-size: 24px;
    font-weight: 800;
    line-height: 36px;
    letter-spacing: 0%;
    text-align: left;
    margin-bottom: 8px;
    padding: 0;
}

.nodejs-inner p {
    color: rgb(13, 19, 33);
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0%;
    text-align: left;
    opacity: 0.7;
}

.fi-p2-mo {
    margin-top: 24px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 24px;
    padding: 40px;
    box-sizing: border-box;
    border: 1px solid rgba(13, 19, 33, 0.15);
    border-radius: 16px;
    background: rgb(255, 255, 255);
}

.mongo-inner h3 {
    color: rgb(13, 19, 33);
    font-size: 24px;
    font-weight: 800;
    line-height: 36px;
    letter-spacing: 0%;
    text-align: left;
    margin-bottom: 8px;
    padding: 0;
}

.mongo-inner p {
    color: rgb(13, 19, 33);
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0%;
    text-align: left;
    opacity: 0.7;
}

.six-part {
    margin: 49px 150px 80px 150px;
    border-radius: 16px;
    background:
        linear-gradient(rgba(0, 0, 0, 0.2),
            rgba(0, 0, 0, 0.2),
            rgba(0, 0, 0, 0.2)),
        url(../assets/handshake.jpg);
    border-radius: 16px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.si {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 64px 48px;
}

.si-p1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 24px;
}

.si-p1 h1 {
    color: rgb(255, 255, 255);
    font-size: 32px;
    font-weight: 700;
    line-height: 36px;
    letter-spacing: 0%;
    text-align: center;
    margin-bottom: 0px;
}

.si-p1 p {
    color: rgb(255, 255, 255);
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0%;
    text-align: center;
    opacity: 0.7;
}

.si-p2 {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    margin-left: 180px;
    margin-right: 180px;
    gap: 16px;
}

.si-p2 input {
    box-sizing: border-box;
    border: 1px solid rgba(13, 19, 33, 0.15);
    border-radius: 8px;
    background: rgb(255, 255, 255);
    padding: 19px 20px;
    resize: none;
    height: 57px;
    width: 548px;
}

::placeholder {
    color: rgba(13, 19, 33, 0.4);
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0%;
}

.si-p2 button {
    border: none;
    background: transparent;
    color: rgb(13, 19, 33);
    font-size: 20px;
    font-weight: 600;
    line-height: 23px;
    letter-spacing: 0%;
    text-align: center;
    padding: 17px 20px;
    border-radius: 8px;
    background: rgb(255, 255, 255);
}

/* last part */
.last-part{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    border-radius: 16px;
background: rgba(13, 19, 33, 0.03);
padding: 32px 150px;

}
.la-p1{
    color: rgb(13, 19, 33);
font-family: Azeret Mono;
font-size: 20px;
font-weight: 600;
line-height: 23px;
letter-spacing: 0%;

}
.la-p2 ul {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 24px;
    list-style: none;
}